<div class="modal-edit-planet">
	<mat-toolbar class="mat-elevation-z1 mb-4">
		<mat-toolbar-row class="text-light">
			<span>Edit Planet</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<form [formGroup]="EditForm" (ngSubmit)="onEdit()">
    <mat-form-field class="d-none">
        <input type="number" readonly formControlName="id" matInput placeholder="Planet id"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" readonly formControlName="name" matInput placeholder="Planet name"/>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Image</mat-label>
        <textarea formControlName="image" matInput placeholder="Url of the image"></textarea>
      <!-- <input type="text" readonly formControlName="image" matInput placeholder="URL address of the image" /> -->
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Status">
        <ng-container>
          <mat-option value="OK">OK</mat-option>
          <mat-option value="!OK">!OK</mat-option>
          <mat-option value="TODO">TODO</mat-option>
          <mat-option value="En route">En route</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select formControlName="crew" placeholder="Crew">
          <ng-container>
            <mat-option *ngFor="let crew of crews" [value]="crew.id" >{{crew.id}} - captain: {{crew.captain}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <br>

      <div class="button-row row mt-3">
        <br>
        <div class="col-4 d-flex justify-content-center">
          <button mat-raised-button (click)="onCancel()" class="button py-1 h6 resize-button text-center button-size" type="button">Cancel</button>
        </div>
        <div class="col-4"></div>
        <div class="col-4 d-flex justify-content-center">
          <button mat-raised-button type="submit" [disabled]="EditForm.invalid" class="button py-1 h6 resize-button text-center button-size button-theme-color">Save</button>
  
        </div>
      </div>


    <!-- <div class="button-row">
      <br>
      <button mat-raised-button (click)="onCancel()" class="button py-1 float-start h6 resize-button text-center button-size">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="EditForm.invalid" class="button py-1 float-end h6 resize-button text-center button-size">Add</button>
    </div> -->
	</form>
</div>
